body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:555px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:727px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:555px;
  height:727px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:356px;
  width:551px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:728px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:733px;
  width:527px;
  height:728px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:356px;
  width:523px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:732px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1461px;
  width:533px;
  height:732px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:529px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:187px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:2176px;
  width:524px;
  height:187px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:86px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
